<launch>
  <arg name="arena_info_topic" value="/arena_info" />
  <arg name="arena_info_static_topic" value="/arena_info_static" />
  <arg name="arena_info_dynamic_topic" value="/arena_info_dynamic" />
  <arg name="ctrl_topic" value="/ctrl/agent_0" />
  <arg name="playground" value = "ggl_v2.0" />
  <!-- <arg name="playground" value = "test_cases/ggl_v2.0_intersection" /> -->
  <!-- <arg name="playground" value = "highway_v1.0" /> -->
  <!-- <arg name="playground" value = "benchmark_v1.0" /> -->
  <!-- <arg name="playground" value = "test_cases/highway_more_agents" /> -->
  <!-- <arg name="playground" value = "test_cases/ggl_v2.0_right_turn" /> -->

  <node pkg="ssc_planner" type="test_ssc_planner_with_smm" name="test_ssc_planner_with_smm_0" output="screen">
    <param name="ego_id" type="int" value="0" />
    <param name="agent_config_path" type="string" value="$(find playgrounds)/$(arg playground)/agent_config.json" />
    <param name="desired_vel" value="10.0"/>
    <remap from="~arena_info" to="$(arg arena_info_topic)"/>
    <remap from="~arena_info_static" to="$(arg arena_info_static_topic)"/>
    <remap from="~arena_info_dynamic" to="$(arg arena_info_dynamic_topic)"/>
    <remap from="~ctrl" to="$(arg ctrl_topic)"/>
  </node>
</launch>
